.logoBase {
    width: 70%;
    margin: 0px 0px -11px 0px;
}
.logoBase2 {
    width: 45%;
    margin: 0px 0px -5px 0px;
}
.footerUsuario {
    float: left;
    padding: 30px 0px 0px 10px;
    font-style: oblique;
    font-weight: bold;
}
.AlertaTareas1 {
    /*Rojo*/
    
    background-color: #f00 !important;
    color: #FFFFFF;
    /*border: black 1px solid;*/
}
.AlertaTareas2 {
    /*Naranja*/
    
    background-color: #EF7A1D !important;
    color: #FFFFFF;
}
#id2,
#id5 {
    background-color: #EF7A1D !important;
    color: #FFFFFF;
}
#id4 {
    background-color: #f00 !important;
    color: #FFFFFF;
}
/*#tareas1 div {
  	background-image: url(../images/grid.mobile.jpg) !important;
    background-repeat: round !important;  
}*/
/* STYLE FUNCIONALIDAD 01*/

.container-fluid {
    border-style: solid;
    border-top: white;
    border-left: white;
    border-right: white;
    border: 1px solid #ddd;
}
summary::-webkit-details-marker {
    display: none
}
summary:before {
    background: green;
    border-radius: 5px;
    content: "[+]";
    color: #FFF;
    font-size: 1.2em;
    font-weight: bold;
    margin: 0 10px 0 0;
    padding-top: 1px;
    padding-left: 1px;
    padding-right: 2px;
    padding-bottom: 2px;
    text-align: center;
}
details[open] summary:before {
    background: red;
    border-radius: 5px;
    content: "[--]";
    color: #FFF;
    font-size: 1.2em;
    font-weight: bold;
    margin: 0 10px 0 0;
    padding: 0;
    padding-top: 1px;
    padding-left: 1px;
    padding-right: 2px;
    padding-bottom: 2px;
}
.StandardDetails details summary {
    display: block;
}
.ItemLstCliente {
    margin-top: 5px;
    margin-bottom: 5px;
}
.MarginTop7 {
    margin-top: 7px;
}
.MarginBotton5 {
    margin-bottom: 5px;
}
.BorderItemLstCliente {
    /*margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 3px;
    margin-right:3px;
    border-style: solid;
    border-width: 1px;
    border-radius: 10px;
    min-height:40px;
    text-align: justify;*/
    
    border-style: solid;
    border-width: 1px;
    border-radius: 10px;
    min-height: 40px;
    text-align: center;
    display: table;
    width: 100%;
    border: 1px solid #ddd;
}
.DetCondPagoServicio {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 3px;
    margin-right: 3px;
    border-style: solid;
    border-width: 1px;
    border-radius: 10px;
    height: 45px;
    min-width: 200px;
    text-align: center;
    padding-top: 10px;
    /*vertical-align: middle;*/
}
.TitlePopUp {
    min-width: 100%;
    background-color: #0053B3;
    color: #FFFFFF;
    font-size: large;
    text-align: center;
}
/*
div {
   position:absolute; height:100%; 
   display: table;
}
h1 {
   display: table-cell;
   vertical-align: middle;
}
*/

#lstCliente {
    margin: 0px;
    padding: 0px;
}
#lstCliente div {
    margin: 5px 0px !important
}
.b_color_1 {
    background-color: #0053B3 !important;
}
.b_color_2 {
    background-color: #EF7A0D !important;
}
.border_1 {
    border-color: #0053B3 !important;
}
.color_1 {
    color: #0053B3 !important;
}
.color_2 {
    color: #EF7A0D !important;
}
/*
naranja : #EF7A0D

azul: #0053B3

div {
   position:absolute; height:100%; 
   display: table;
}
h1 {
   display: table-cell;
   vertical-align: middle;
}
*/
/* standar */
/* para barra navegacion superior */

.font-nav-bar {
    font-size: 20px !important;
    font-weight: lighter !important;
}
/* para los botones */

.font-boton {
    font-size: 15px !important;
    font-weight: bold !important;
}
.font-cuerpo {
    font-size: 13px;
    font-weight: normal !important;
}
.centrar {
    text-align: center !important;
}
.divBotones {
    width: 46% !important;
    float: left;
}
#GoLogin,
#GoClean {
    width: 100% !important;
    background-color: #EF7A0D;
    color: white;
    font-weight: bold;
}
/* standar */
/*  funcionalidad 2 */

.input-group-addon {
    width: 55% !important;
}
.input-group input {
    text-align: center;
}
.icono_centrado {
    float: left;
    width: 10%;
    height: 20px;
}
.icono_sep {
    padding-top: 7px;
}
.span_centro {
    width: 90%;
    float: right;
}
.cabecera_usuario {
    margin: 5px 15px;
    background-color: white;
}
/* funcionalidad 2 */

.contenedorBusqueda {
    padding: 10px 0px !important;
    margin: 0px !important;
    background-color: white !important;
}
.tex_boton_2 {
    color: white !important;
    border: #EF7A0D !important;
}
.check_bajo {
    background-color: green !important;
    color: white !important;
}
.check_medio {
    background-color: #EF7A0D !important;
    color: white !important;
}
.check_alto {
    background-color: red !important;
    color: white !important;
}
.c_login_text {
    width: 50%;
    float: left;
    height: 34px;
    text-align: center;
    line-height: 2;
    font-weight: bolder;
}
.c_grupo_login {
    width: 100%;
    padding: 5px 10px;
    height: 40px;
}
textarea {
    width: 100%;
}
.oveflw {
    overflow: hidden;
}

/* f06 style */
.f6-info{
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.f6-opcion-btn{
    margin-right: 5px;
    padding-right: 5px;
}

/* #divBtnAccion div {
    margin-bottom: 15px !important;
} */