<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta name="robots" content="noindex, nofollow">
    <meta name="googlebot" content="noindex, nofollow">
    <!--     <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script> -->
    <script src="../../bower_components/kendo-ui-appbuilder-core/js/jquery.min.js"></script>
    <!--     <link rel="stylesheet" type="text/css" href="/css/result-light.css"> -->
    <link rel="stylesheet" type="text/css" href="../../Mapa/leaflet.css">
    <script type="text/javascript" src="../../Mapa/leaflet.js"></script>
    <link rel="stylesheet" type="text/css" href="../../Mapa/MarkerCluster.css">
    <script type="text/javascript" src="../../Mapa/leaflet.markercluster-src.js"></script>
    <link rel="stylesheet" type="text/css" href="../../Mapa/MarkerCluster.Default.css">
    <style type="text/css">
        /* Map */
        
        #map {
            height: 440px;
        }
    </style>
    <title>Mapbox / Leaflet.Markercluster getLayers()</title>
    <script type='text/javascript'>
        //<![CDATA[
        $(window).load(function () {
            var WServ = getParameterByName("WServ"),
                idDespachador = getParameterByName("idDespachador"),
                strFechaIniDateParts = getParameterByName("strFechaIniDateParts"),
                strFechaFinDateParts = getParameterByName("strFechaFinDateParts");
            var iconAlmacen = L.icon({
                iconUrl: 'almacen.png',
                // iconRetinaUrl: 'my-icon@2x.png',
                // iconSize: [38, 95],
                iconAnchor: [15, 38], //X,Y
                popupAnchor: [0, -35],
                // // shadowUrl: 'my-icon-shadow.png',
                // shadowRetinaUrl: 'my-icon-shadow@2x.png', 
                // shadowSize: [68, 95],
                // shadowAnchor: [22, 94]
            });

            var iconDespachador = L.icon({
                iconUrl: 'despachador.png',
                // iconRetinaUrl: 'my-icon@2x.png',
                // iconSize: [38, 95],
                iconAnchor: [15, 38], //X,Y
                popupAnchor: [0, -35],
                // // shadowUrl: 'my-icon-shadow.png',
                // shadowRetinaUrl: 'my-icon-shadow@2x.png',
                // shadowSize: [68, 95],
                // shadowAnchor: [22, 94]
            });



            map = L.map('map', {
                center: [-12.11391, -77.03933],
                zoom: 10,
            });

            L.tileLayer('http://{s}.mqcdn.com/tiles/1.0.0/map/{z}/{x}/{y}.png', {
                attribution: "Map: Tiles Courtesy of MapQuest (OpenStreetMap, CC-BY-SA)",
                subdomains: ["otile1", "otile2", "otile3", "otile4"],
                // maxZoom: 12,
                // minZoom: 2
            }).addTo(map);

            var markers = new L.MarkerClusterGroup();
            // markers.addLayer(new L.Marker([1, 1]));

            markers.addTo(map);

            // expect getLayers().length to be 1, which will add 
            // another marker, but it does not happen



            var ubicDespachador = [];
            $.ajax({
                url: WServ + "Operaciones/UbicacionListar",
                type: "post",
                data: {
                    usuario: idDespachador,
                    fechaIni: strFechaIniDateParts,
                    fechaFin: strFechaFinDateParts,
                },
                async: false,
                success: function (datos) {
                    ubicDespachador = datos;
                },
                error: function () {

                }
            });

            for (var i = 0; i < ubicDespachador.length; i++) {
                // console.log(ubicDespachador[i].Info);
                // console.log(ubicDespachador[i].Fecha);
                // console.log(ubicDespachador[i].LatLong);
                // console.log(ubicDespachador[i].Operacion);


                markers.addLayer(new L.Marker(ubicDespachador[i].LatLong, {
                    icon: iconDespachador
                }).bindPopup(ubicDespachador[i].Info));
            }


            var ubicAlmacen = [];
            $.ajax({
                //url: "http://54.213.238.161/wsAusa/Operaciones/AlmacenesListar",
                url: WServ + "Operaciones/AlmacenesListar",
                type: "post",
                data: {
                    usuario: idDespachador,
                    fechaIni: strFechaIniDateParts,
                    fechaFin: strFechaFinDateParts,
                },
                async: false,
                success: function (datos) {
                    ubicAlmacen = datos;
                },
                error: function () {

                }
            });

            for (var i = 0; i < ubicAlmacen.length; i++) {
                // console.log(ubicDespachador[i].AlmDescripcion);
                // console.log(ubicDespachador[i].AlmDireccion);
                // console.log(ubicDespachador[i].AlmID);
                // console.log(ubicDespachador[i].InfoAlmacen);
                // console.log(ubicDespachador[i].LatLong);
                markers.addLayer(new L.Marker(ubicDespachador[i].LatLong, {
                    icon: iconAlmacen
                }).bindPopup(ubicAlmacen[i].InfoAlmacen));
            }





        }); //]]>

        function getParameterByName(name, url) {
            if (!url) url = window.location.href;
            name = name.replace(/[\[\]]/g, "\\$&");
            var regex = new RegExp("[?&]" + name + "(=([^&#]*)|&|#|$)"),
                results = regex.exec(url);
            if (!results) return null;
            if (!results[2]) return '';
            return decodeURIComponent(results[2].replace(/\+/g, " "));
        }
    </script>
</head>

<body>
    <div id="map"></div>
</body>

</html>